<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test suite" preserve-order="true">
    <test name="Login Tests">
        <classes>
            <class name="com.blackNecoProject.testng.tests.LoginTests">
                <methods>
                    <include name="userCanLoginSuccessfully"/>
                    <include name="userCanLogout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>